<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.bom.mapper.BomMapper">

    <!-- BOM 중복 검사 -->
    <select id="isExistBom" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM tbl_product_bom
        WHERE is_deleted = 0
          AND finished_key = #{finishedKey}
          AND material_key = #{materialKey}
    </select>

    <!-- BOM 등록 -->
    <insert id="createBom">
        INSERT INTO tbl_product_bom(
            root_key, finished_key, material_key, quantity
        )
        VALUES (
            #{rootKey}, #{finishedKey}, #{materialKey}, #{quantity}
        )
    </insert>

    <!-- BOM 목록 -->
    <select id="getBomList" resultType="com.wimir.bae.domain.bom.dto.BomInfoDTO">
    SELECT
    bom.bom_key,
    bom.root_key,
    pro.product_code,
    pro.product_name,
    bom.quantity,
    unit.sub_common_name AS unit_name,
    bom.finished_key as finished_key,
    pro.product_key as material_key
    FROM tbl_product_bom bom
    LEFT JOIN tbl_product pro ON bom.material_key = pro.product_key
    LEFT JOIN tbl_common_code_sub unit ON pro.unit_key = unit.sub_common_key
    WHERE bom.is_deleted = 0
    </select>

    <!-- BOM 정보 -->
    <select id="getBomInfo" resultType="com.wimir.bae.domain.bom.dto.BomInfoDTO">
        SELECT *
        FROM tbl_product_bom
        WHERE is_deleted = 0
          AND bom_key = #{bomKey}
    </select>

    <!-- BOM 수정 -->
    <update id="updateBom">
        UPDATE tbl_product_bom
        SET quantity = #{quantity}
        WHERE is_deleted = 0
          AND bom_key = #{bomKey}
    </update>

</mapper>