<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.common.sub.mapper.CommonSubMapper">

    <!-- 하위 공통 코드 중복 검사 (대소문자 구분 없이) -->
    <select id="isUpperLowerCaseDuplicate" resultType="boolean">
        SELECT IF(COUNT(*) > 0, 1, 0)
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
          AND UPPER(sub_common_name) = UPPER(#{subCommonName})
          AND main_common_key = #{mainCommonKey}
    </select>

    <!-- 하위 공통 코드 등록 -->
    <insert id="createCommonSub">
        INSERT INTO tbl_common_code_sub(
                main_common_key, sub_common_name, note
        )
        VALUES (
                #{mainCommonKey}, #{subCommonName}, #{note}
        )
    </insert>

    <!-- 하위 공통 코드 목록 조회 -->
    <select id="getCommonSubList" resultType="com.wimir.bae.domain.common.sub.dto.CommonSubInfoDTO">
        SELECT
            sub_common_key,
            sub_common_name,
            note,
            is_immutable
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
            <if test="subCommonName != null and subCommonName != ''">
                AND sub_common_name LIKE CONCAT('%',#{subCommonName},'%')
            </if>
        ORDER BY sub_common_key
        <if test="offset != null and offset != ''">
            LIMIT ${record} OFFSET ${offset}
        </if>
    </select>

    <select id="getCommonSubInfoList" resultType="com.wimir.bae.domain.common.sub.dto.CommonSubInfoDTO">
        SELECT *
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
        AND sub_common_keY IN
        <foreach item="subCommonKey" collection="subCommonKeyList" open="(" separator="," close=")">
            #{subCommonKey}
        </foreach>
    </select>


    <!-- 하위 공통 코드 수정 가능 여부 확인 -->
    <select id="canUpdateCommonSub" resultType="boolean">
        SELECT IF(COUNT(*) > 0 , true, false)
        FROM tbl_common_code_sub sub
        INNER JOIN tbl_common_code_main main
        ON sub.main_common_key = main.main_common_key
        WHERE
        sub.is_deleted = 0
        AND sub.is_immutable = 0
        AND main.is_immutable = 0
        <if test="subCommonKey != null and subCommonKey != ''">
            AND sub.sub_common_key = #{subCommonKey}
        </if>
    </select>

    <!-- 전부 수정 가능할 때 true -->
    <select id="canUpdateCommonSubList" resultType="boolean">
        SELECT IF(COUNT(*) = 0, true, false)
        FROM tbl_common_code_sub sub
        INNER JOIN tbl_common_code_main main
        ON sub.main_common_key = main.main_common_key
        WHERE sub.sub_common_key IN
        <foreach item="subCommonKey" collection="subCommonKeyList" open="(" separator="," close=")">
            #{subCommonKey}
        </foreach>
          AND (
            sub.is_deleted != 0
            OR sub.is_immutable != 0
            OR main.is_immutable != 0
          )
    </select>

    <!-- 하위 공통 코드 정보 조회 -->
    <select id="getCommonSubInfo" resultType="com.wimir.bae.domain.common.sub.dto.CommonSubInfoDTO">
        SELECT *
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
          AND sub_common_key = #{subCommonKey}
    </select>

    <!-- 하위 공통 코드 수정 -->
    <update id="updateCommonSub">
        UPDATE tbl_common_code_sub
        SET
            sub_common_name = #{subCommonName},
            note = #{note}
        WHERE is_deleted = 0
          AND is_immutable = 0
          AND sub_common_key = #{subCommonKey}
    </update>

    <!-- 하위 공통 코드 삭제 -->
    <delete id="deleteCommonSubList">
        UPDATE tbl_common_code_sub
        SET is_deleted = 1
        WHERE is_deleted = 0
        AND sub_common_key IN
        <foreach item="subCommonKey" collection="subCommonKeyList" open="(" separator="," close=")">
            #{subCommonKey}
        </foreach>
    </delete>

    <!-- 분류명 개수 조회 -->
    <select id="getProductTypeCount" resultType="java.lang.Integer">
        SELECT
        <bind name="excelProductTypeKey" value="@com.wimir.bae.global.utils.ConfigurationUtil@getExcelProductTypeKey()"/>
        COUNT(*)
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
        AND sub_common_name = #{productType}
        AND main_common_key = #{excelProductTypeKey}
    </select>

    <!-- 분류 키 조회 -->
    <select id="getProductTypeKey" resultType="java.lang.String">
        SELECT
        <bind name="excelProductTypeKey" value="@com.wimir.bae.global.utils.ConfigurationUtil@getExcelProductTypeKey()"/>
        sub_common_key
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
        AND sub_common_name = #{productType}
        AND main_common_key = #{excelProductTypeKey}
    </select>

    <!-- 단위 개수 -->
    <select id="getUnitCount" resultType="java.lang.Integer">
        SELECT
        <bind name="excelUnitKey" value="@com.wimir.bae.global.utils.ConfigurationUtil@getExcelUnitKey()"/>
        COUNT(*)
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
        AND sub_common_name = #{unitName}
        AND main_common_key = #{excelUnitKey}
    </select>

    <!-- 단위 키 조회 -->
    <select id="getUnitKey" resultType="java.lang.String">
        SELECT
        <bind name="excelUnitKey" value="@com.wimir.bae.global.utils.ConfigurationUtil@getExcelUnitKey()"/>
        sub_common_key
        FROM tbl_common_code_sub
        WHERE is_deleted = 0
        AND sub_common_name = #{unitName}
        AND main_common_key = #{excelUnitKey}
    </select>

</mapper>