<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.common.main.mapper.CommonMainMapper">

    <!-- 상위 공통 코드 중복 검사 -->
    <select id="isCommonMainExist" resultType="boolean">
        SELECT IF(COUNT(*) > 0, 1, 0)
        FROM tbl_common_code_main
        WHERE is_deleted = 0
        AND main_common_name = #{mainCommonName}
    </select>

    <!-- 상위 공통 코드 등록 -->
    <insert id="createCommonMain">
        INSERT INTO tbl_common_code_main(
            main_common_name
        )
        VALUES (
            #{mainCommonName}
        )
    </insert>

    <!-- 상위 공통 코드 목록 조회 -->
    <select id="getCommonMainList" resultType="com.wimir.bae.domain.common.main.dto.CommonMainInfoDTO">
        SELECT main_common_key, main_common_name, is_immutable
        FROM tbl_common_code_main
        WHERE is_deleted = 0
    </select>

    <!-- 상위 공통 코드 조회 -->
    <select id="getCommonMainByKey" resultType="com.wimir.bae.domain.common.main.dto.CommonMainInfoDTO">
        SELECT *
        FROM tbl_common_code_main
        WHERE is_deleted = 0
          AND main_common_key = #{mainCommonKey}
    </select>

    <select id="getCommonMainInfoList" resultType="com.wimir.bae.domain.common.main.dto.CommonMainInfoDTO">
        SELECT *
        FROM tbl_common_code_main
        WHERE is_deleted = 0
          AND main_common_keY IN
        <foreach item="commonKey" collection="commonKeyList" open="(" separator="," close=")">
            #{commonKey}
        </foreach>
    </select>

    <!-- 상위 공통 코드 수정 -->
    <update id="updateCommonMain">
        UPDATE tbl_common_code_main
        SET main_common_name = #{mainCommonName}
        WHERE is_deleted = 0
          AND main_common_key = #{mainCommonKey}
    </update>

    <delete id="deleteCommonMainList">
        UPDATE tbl_common_code_main
        SET is_deleted = 1
        WHERE is_deleted = 0
        AND main_common_key IN
        <foreach item="commonKey" collection="commonKeyList" open="(" separator="," close=")">
            #{commonKey}
        </foreach>
    </delete>

    <!-- 상위 공통 코드 변경가능여부 -->
    <select id="canUpdateCommonMain" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0 , true, false)
        FROM tbl_common_code_main main
        WHERE
        main.is_deleted = 0
        AND main.is_immutable = 0
        <choose>
            <when test="mainCommonKey != null and mainCommonKey != ''">
                AND main.main_common_key = #{mainCommonKey}
            </when>
        </choose>
    </select>

</mapper>