<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.quality.mapper.FaultStateMapper">

    <!-- 불량 현황 추가 -->
    <insert id="createFaultState">
        INSERT INTO tbl_fault_state
            ( process_type, process_name, key_code, fault_date, fault_count)
        VALUES
            ( #{processType}, #{processName}, #{keyCode}, #{faultDate}, #{faultCount})
    </insert>

    <!-- 불량 현황 조회 -->
    <select id="getFaultStateList" resultType="com.wimir.bae.domain.quality.dto.FaultStateDTO">
        SELECT
            state.fault_state_Key,
            state.process_name,
            state.process_type,
            state.key_code,
            state.fault_date,
            ROUND(state.fault_count, 3) as fault_count,
            state.reg_date_time,
            pro.product_code,
            pro.product_key,
            pro.product_name
        FROM tbl_fault_state state
                 INNER JOIN tbl_production_detail detail ON detail.detail_key = state.key_code
                        AND state.process_type ='P'
                 LEFT JOIN tbl_product pro ON pro.product_key = detail.product_key
        WHERE state.is_deleted = 0;
    </select>

    <!-- 불량 현황 존재 유무 -->
    <select id="isFaultStateExist" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false) AS result
        FROM tbl_fault_state
        WHERE is_deleted = 0
          AND fault_state_key = #{faultStateKey}
    </select>

    <!-- 불량 현황 수정 -->
    <update id="updateFaultState">
        UPDATE tbl_fault_state
        SET fault_date = #{faultDate},
            fault_count = #{faultCount}
        WHERE fault_state_key = #{faultStateKey}
    </update>
</mapper>
