<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.global.image.mapper.ImageMapper">

    <insert id="saveImage">
        INSERT INTO tbl_images
            (image_key, image_path)
        VALUES
            (#{imageKey}, #{imagePath})
    </insert>

</mapper>