<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.incoming.mapper.IncomingMapper">

    <!-- 자재 발주 품목 수량 합계 -->
    <select id="getQuantitySum" resultType="com.wimir.bae.domain.incoming.dto.IncomingQuantityDTO">
        SELECT
            COALESCE(ROUND(SUM(CASE WHEN incoming_type_flag = 'M1' THEN quantity END), 3), 0.0) AS arrivedQuantity,
            COALESCE(ROUND(SUM(CASE WHEN incoming_type_flag = 'M2' THEN quantity END), 3), 0.0) AS inboundedQuantity
        FROM tbl_incoming
        WHERE
            is_deleted = 0
          AND incoming_type_flag IN ('M1', 'M2')
          AND material_key = #{orderMaterialKey}

    </select>

    <!-- 자재 입고, 완제품 생산 등록 -->
    <insert id="createIncoming">
        INSERT INTO tbl_incoming (
        product_key, warehouse_key, incoming_type_flag, quantity, note, inbound_user_key
        <if test="orderMaterialKey != null and orderMaterialKey != ''">
            , material_key
        </if>

            , incoming_date_time

        <if test="executeDate != null and executeDate != ''">
            , execute_date
        </if>
        <if test="correctionDateTime != null and correctionDateTime != ''">
            , correction_date_time
        </if>
        ) VALUES (
        #{productKey}, #{warehouseKey}, #{incomingTypeFlag}, #{quantity}, #{note}, #{userCode}
        <if test="orderMaterialKey != null and orderMaterialKey != ''">
            , #{orderMaterialKey}
        </if>

            , CURRENT_TIMESTAMP

        <if test="executeDate != null and executeDate != ''">
            , #{executeDate}
        </if>
        <if test="correctionDateTime != null and correctionDateTime != ''">
            , #{correctionDateTime}
        </if>
        )
    </insert>

    <!-- 자재 입하/입고 현황 -->
    <select id="getIncomingMaterialList"
            resultType="com.wimir.bae.domain.incoming.dto.IncomingMaterialInfoDTO">
        SELECT
          CASE
            WHEN inc.incoming_type_flag = 'M1' THEN '입하'
            WHEN inc.incoming_type_flag = 'M2' THEN '입고'
            WHEN inc.incoming_type_flag = 'F' THEN '완제품 생산'
            WHEN inc.incoming_type_flag = 'C1' THEN '외주 입고'
            ELSE '데이터 이상'
          END AS incoming_type_flag,
        pro.product_code, pro.product_name,
        pro.standard_price,
        ware.warehouse_name,
        inc.incoming_date_time,
        inc.quantity, inc.reg_date_time,
        sub.sub_common_name AS unit_name,
        inc.note,
        pro.standard_price * inc.quantity AS total_price,
        us.user_name
        FROM tbl_incoming inc
        LEFT JOIN tbl_product pro
        ON inc.product_key = pro.product_key
        LEFT JOIN tbl_warehouse ware
        ON inc.warehouse_key = ware.warehouse_key
        LEFT JOIN tbl_order_materials mat
        ON inc.material_key = mat.order_material_key
        LEFT JOIN tbl_common_code_sub sub
        ON pro.unit_key = sub.sub_common_key
        LEFT JOIN tbl_user AS us
        ON us.user_code = inc.inbound_user_key
        AND us.is_deleted = 0
        WHERE
        inc.is_deleted = 0
        AND mat.order_key = #{orderKey}

    </select>
</mapper>