<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.order.mapper.OrderItemMapper">

    <!-- 자재 발주 품목 목록 -->
    <select id="getOrderItemList" resultType="com.wimir.bae.domain.order.dto.OrderItemInfoDTO">
        SELECT
        mat.order_material_key,
        mat.product_key,
        pro.product_code AS material_code,
        pro.product_name AS material_name,
        pro.standard_price,
        mat.quantity AS order_quantity,
        sub.sub_common_name AS unit_name
        FROM tbl_order_materials mat
        LEFT JOIN tbl_product pro ON mat.product_key = pro.product_key
        LEFT JOIN tbl_common_code_sub sub ON pro.unit_key = sub.sub_common_key
        WHERE mat.is_deleted = 0
          AND mat.order_key = #{orderKey}
    </select>

    <!-- 자재 발주 품목 삭제 -->
    <update id="deleteOrderItem">
        UPDATE tbl_order_materials
        SET is_deleted = 1
        WHERE
            is_deleted = 0
          AND order_material_key = #{orderMaterialKey}
    </update>

    <!-- 자재 발주 품목 등록 -->
    <insert id="createOrderItem">
        INSERT INTO tbl_order_materials (
            order_key, product_key, quantity
        ) VALUES (
            #{orderKey}, #{regDTO.materialKey}, #{regDTO.orderQuantity}
        )
    </insert>

    <!-- 자재 발주 품목 수정(개수) -->
    <update id="updateOrderItem">
        UPDATE tbl_order_materials
        SET quantity = #{regDTO.orderQuantity}
        WHERE
            is_deleted = 0
          AND order_material_key = #{regDTO.orderMaterialKey}
          AND order_key = #{orderKey}
    </update>

    <!-- 자재 발주 품목 정보 -->
    <select id="getOrderItemInfo" resultType="com.wimir.bae.domain.order.dto.OrderItemInfoDTO">
        SELECT
            mat.order_material_key, mat.order_key, mat.quantity,
            mat.product_key AS materialKey,
            pro.product_code AS material_code,
            pro.product_name AS material_name,
            sub.sub_common_name AS unit_name
        FROM tbl_order_materials mat
                 LEFT JOIN tbl_product pro
                           ON mat.product_key = pro.product_key
                 LEFT JOIN tbl_common_code_sub sub
                           ON pro.unit_key = sub.sub_common_key
        WHERE
            mat.is_deleted = 0
          AND mat.order_material_key = #{orderMaterialKey}
    </select>


</mapper>