<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.outsource.mapper.OutsourceMapper">

    <!-- 이미 등록된 외주 확인 -->
    <select id="isExistOutsource" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false) AS result
        FROM tbl_order_outsource
        WHERE is_deleted = 0
          AND product_key = #{productKey}
          AND contract_code = #{contractKey}
    </select>

    <!-- 외주 등록 -->
    <insert id="createOutsource">
        INSERT INTO tbl_order_outsource (
            contract_code, company_key, quantity,
            outbound_date_time, incoming_est_date, product_key
        )
        VALUES (
            #{contractKey}, #{companyKey}, #{quantity},
            #{outboundDateTime}, #{inboundEstDate}, #{productKey}
        )
    </insert>

    <!-- 외주 정보 조회 -->
    <select id="searchOutsourceInfo" resultType="com.wimir.bae.domain.outsource.dto.OutsourceSearchInfoDTO">
        SELECT *
        FROM tbl_order_outsource
        WHERE outsource_key = #{outsourceKey}
          AND is_deleted = 0
    </select>

    <!-- 외주 수정 -->
    <update id="updateOutsource">
        UPDATE tbl_order_outsource
        <set>
            <if test="inboundEstDate != null and inboundEstDate != ''">
                incoming_est_date = #{inboundEstDate},
            </if>
            <if test="outboundDateTime != null and outboundDateTime != ''">
                outbound_date_time = #{outboundDateTime},
            </if>
            <if test="quantity != null and quantity != ''">
                quantity = #{quantity},
            </if>
        </set>
        WHERE
        outsource_key = #{outsourceKey}
        AND is_deleted = 0
        AND outsource_state = 'P'
    </update>
</mapper>