<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.outsource.mapper.OutsourceMapper">

    <!-- 이미 등록된 외주 확인 -->
    <select id="isExistOutsource" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false) AS result
        FROM tbl_order_outsource
        WHERE is_deleted = 0
          AND product_key = #{productKey}
          AND contract_code = #{contractKey}
    </select>

    <!-- 외주 등록 -->
    <insert id="createOutsource">
        INSERT INTO tbl_order_outsource (
            contract_code, company_key, quantity,
            outbound_date_time, incoming_est_date, product_key
        )
        VALUES (
            #{contractKey}, #{companyKey}, #{quantity},
            #{outboundDateTime}, #{inboundEstDate}, #{productKey}
        )
    </insert>

    <!-- 외주 정보 조회 -->
    <select id="searchOutsourceInfo" resultType="com.wimir.bae.domain.outsource.dto.OutsourceSearchInfoDTO">
        SELECT *
        FROM tbl_order_outsource
        WHERE outsource_key = #{outsourceKey}
          AND is_deleted = 0
    </select>

    <!-- 외주 수정 -->
    <update id="updateOutsource">
        UPDATE tbl_order_outsource
        <set>
            <if test="inboundEstDate != null and inboundEstDate != ''">
                incoming_est_date = #{inboundEstDate},
            </if>
            <if test="outboundDateTime != null and outboundDateTime != ''">
                outbound_date_time = #{outboundDateTime},
            </if>
            <if test="quantity != null and quantity != ''">
                quantity = #{quantity},
            </if>
        </set>
        WHERE
        outsource_key = #{outsourceKey}
        AND is_deleted = 0
        AND outsource_state = 'P'
    </update>

    <!-- 외주 삭제 -->
    <update id="deleteOutsource">
        UPDATE tbl_order_outsource
        SET
            is_deleted = 1
        WHERE
            outsource_key = #{outsourceKey}
    </update>

    <!-- 외주 생산 제품 리스트 조회 -->
    <select id="getOutsourceItemList" resultType="com.wimir.bae.domain.outsource.dto.OutsourceItemDTO">
        SELECT
        pro.product_key,
        bom.material_key AS productCode,
        pro.product_name,
        pro.company_key,
        com.company_name,
        (cmat.quantity * bom.quantity) AS quantity,
        orout.outsource_key,
        orout.outsource_state,
        pro.standard_price,
        (pro.standard_price * cmat.quantity) AS totalPrice
        FROM tbl_order_contract con
        LEFT JOIN tbl_order_contract_materials cmat ON cmat.contract_code = con.contract_code
        LEFT JOIN tbl_product_bom bom ON cmat.product_key = bom.root_key
        LEFT JOIN tbl_product pro ON pro.product_key = bom.material_key
        LEFT JOIN tbl_company com ON com.company_key = pro.company_key
        LEFT JOIN tbl_common_code_sub sub ON pro.process_type_key = sub.sub_common_key
        LEFT JOIN tbl_order_outsource orout ON cmat.contract_code = orout.contract_code
        AND orout.product_key = bom.material_key
        WHERE cmat.contract_code = #{contractCode}
        AND sub.sub_common_key = #{processOutsourcedKey}
        AND cmat.is_deleted = 0
        AND orout.contract_code IS NULL
        AND bom.is_deleted = 0
        AND con.is_deleted = 0
        AND con.is_completed = 2
    </select>

    <!-- 외주 등록된 유효한 수주 리스트 -->
    <select id="getOutsourceAllState"
            resultType="com.wimir.bae.domain.outsource.dto.OutsourceIncomingStateDTO">
        SELECT
            result.contract_code,
            result.quantity,
            result.is_completed,
            result.outsource_state,
            result.outsourceStatusResult,
            result.contract_name,
            result.contract_date,
            result.delivery_date,
            result.company_name,
            result.company_key,
            result.product_code,
            result.product_name,
            result.product_key,
            result.asset_type_flag,
            result.safety_quantity,
            result.sub_common_name AS unit_name,
            result.reg_date_time
        FROM (
            SELECT
                orout.contract_code,
                orout.quantity,
                con.is_completed,
                con.contract_name,
                con.contract_date,
                con.delivery_date,
                com.company_name,
                com.company_key,
                pro.product_code,
                pro.product_name,
                pro.product_key,
                pro.asset_type_flag,
                pro.safety_quantity,
                sub.sub_common_name,
                orout.reg_date_time,
                MAX(orout.outsource_state) AS outsource_state,
                CASE
                    WHEN SUM(CASE WHEN orout.outsource_state = 'C' THEN 1 ELSE 0 END) = COUNT(*) THEN 'C'
                    WHEN SUM(CASE WHEN orout.outsource_state = 'O' THEN 1 ELSE 0 END) > 0 AND
                         SUM(CASE WHEN orout.outsource_state = 'C' THEN 1 ELSE 0 END) > 0 THEN 'O'
                    WHEN SUM(CASE WHEN orout.outsource_state = 'O' THEN 1 ELSE 0 END) = COUNT(*) THEN 'O'
                    WHEN SUM(CASE WHEN orout.outsource_state IN ('O', 'P') THEN 1 ELSE 0 END) > 0 THEN 'X'
                    ELSE 'O'
                    END AS outsourceStatusResult
            FROM tbl_order_outsource orout
                LEFT JOIN tbl_order_contract con ON con.contract_code = orout.contract_code
                LEFT JOIN tbl_order_contract_materials conm ON con.contract_code = conm.contract_code
                LEFT JOIN tbl_company com ON com.company_key = orout.company_key
                LEFT JOIN tbl_product pro ON pro.product_key = conm.product_key
                LEFT JOIN tbl_common_code_sub sub ON sub.sub_common_key = pro.unit_key
            WHERE orout.is_deleted = 0
            GROUP BY orout.contract_code
            ) AS result
        WHERE result.outsourceStatusResult IN ('C', 'O', 'X')
    </select>

    <!-- 외주 등록된 모든 목록 조회 -->
    <select id="getOutsourceCreateAllList"
            resultType="com.wimir.bae.domain.outsource.dto.OutsourceIncomingDTO">
        SELECT
            orout.contract_code,
            orout.outsource_key,
            orout.company_key,
            com.company_name,
            orout.quantity,
            orout.outgoing_complete_date,
            orout.inbound_date_time,
            orout.incoming_est_date,
            orout.incoming_date_time,
            orout.outgoing_user_key,
            orout.incoming_user_key,
            orout.outsource_state,
            orout.product_key,
            pro.product_name,
            pro.product_code,
            pro.standard_price,
            (pro.standard_price * orout.quantity) AS totalPrice
        FROM tbl_order_outsource orout
                 LEFT JOIN tbl_order_contract con ON con.contract_code = orout.contract_code
                 LEFT JOIN tbl_company com ON com.company_key = orout.company_key
                 LEFT JOIN tbl_product pro ON pro.product_key = orout.product_key
        WHERE orout.is_deleted = 0
          AND pro.is_deleted = 0
        ORDER BY orout.reg_date_time DESC
    </select>

    <!-- 입하 등록 -->
    <update id="setOutsourceInbound">
        UPDATE tbl_order_outsource
        SET inbound_date_time = NOW()
        WHERE is_deleted = 0
          AND outsource_key = #{outsourceKey}
    </update>

    <!-- 입고 등록 -->
    <update id="setOutsourceIncoming">
        UPDATE tbl_order_outsource
        SET incoming_date_time = NOW(),
            incoming_user_key = #{userCode},
            outsource_state = 'C'
        WHERE is_deleted = 0
          AND outsource_key = #{outsourceKey}
    </update>
</mapper>