<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.planTotal.mapper.PlanTotalMapper">

    <!--  실적 추가   -->
    <insert id="createResult">
        INSERT INTO tbl_production_total (
            plan_key, team_key, product_key, plan_quantity, execute_quantity, fault_quantity, contract_complete_date
        )
        VALUES (
            #{planKey}, #{teamKey}, #{productKey}, #{planQuantity}, #{executeQuantity}, #{faultQuantity}, #{contractCompleteDate}
        )
    </insert>

    <!--  완제품인지 자재인지 확인  -->
    <select id="checkAssetTypeFlag" resultType="java.lang.Boolean">
        SELECT IF(product.asset_type_flag != 'F', true, false)
        FROM tbl_production_total total
                 LEFT JOIN tbl_product product
                           ON total.product_key = product.product_key
        WHERE total.result_key = #{resultKey}
    </select>

    <!-- 실적 결과 리스트 -->
    <select id="getResultList" resultType="com.wimir.bae.domain.planTotal.dto.PlanTotalInfoDTO">
        SELECT
        con.contract_code,
        total.result_key,
        plan.plan_date,
        com.company_name,
        sub.sub_common_name as team_name,
        con.contract_name,
        pro.product_name,
        pro.product_code,
        total.plan_quantity,
        total.execute_quantity as sub_execute_quantity,
        total.fault_quantity,
        con.contract_date,
        total.last_contract_date,
        con.delivery_date,
        total.note,
        total.is_completed,
        pro.standard_price,
        (pro.standard_price * total.execute_quantity) AS totalPrice
        FROM tbl_production_total total
        LEFT JOIN tbl_production_plan plan ON plan.plan_key = total.plan_key
        LEFT JOIN tbl_production_team team ON total.team_key = team.team_key
        LEFT JOIN tbl_common_code_sub sub ON team.team_common_key = sub.sub_common_key
        LEFT JOIN tbl_order_contract con ON plan.contract_code = con.contract_code
        AND con.is_completed = 2
        LEFT JOIN tbl_company com ON com.company_key = con.company_key
        LEFT JOIN tbl_product pro ON pro.product_key = total.product_key
        WHERE total.is_deleted = 0
        AND com.company_key IS NOT NULL
    </select>

    <!--  실적 결과 특이사항 업로드  -->
    <update id="updateResultNote">
        UPDATE tbl_production_total
        SET note = #{note}
        WHERE
            is_deleted = 0
          AND result_key = #{resultKey}
    </update>

</mapper>

