<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wimir.bae.domain.plan.mapper.PlanMapper">

    <!-- 생산 계획 리스트 -->
    <select id="getPlanList" resultType="com.wimir.bae.domain.plan.dto.PlanInfoDTO">
        SELECT
            con.contract_name AS contractName,
            plan.plan_key AS planKey,
            plan.team_key AS teamKey,
            plan.contract_code AS contractCode,
            plan.is_executed AS isExecuted,
            plan.plan_date AS planDate,
            con.delivery_date AS deliveryDate,
            com.company_name AS companyName,
            sub.sub_common_name AS teamName,
            sub.sub_common_key AS teamCommonKey,
            pro.product_name AS productName,
            pro.product_code AS productCode,
            plan.plan_quantity AS planQuantity,
            plan.sub_plan_quantity AS subPlanQuantity,
            COALESCE((COALESCE(plan.sub_plan_quantity, 0) / NULLIF(COALESCE(plan.plan_quantity, 0), 0)) * 100, 0) AS production_rate,
            COALESCE(total.fault_quantity, 0) AS fault_quantity,
            COALESCE((COALESCE(total.fault_quantity, 0) / NULLIF(COALESCE(total.execute_quantity, 0), 0)) * 100, 0) AS fault_rate
        FROM tbl_production_plan plan
                 LEFT JOIN tbl_order_contract con ON con.contract_code = plan.contract_code
                 LEFT JOIN tbl_company com ON con.company_key = com.company_key
                 LEFT JOIN tbl_product pro ON pro.product_key = plan.product_key
                 LEFT JOIN tbl_production_team team ON team.team_key = plan.team_key
                 LEFT JOIN tbl_common_code_sub sub ON sub.sub_common_key = team.team_common_key
                 LEFT JOIN tbl_production_total total ON total.plan_key = plan.plan_key
            AND total.product_key = plan.product_key
        WHERE plan.is_deleted = 0
          AND pro.asset_type_flag = 'F'
    </select>

    <!-- 생산 실적 테이블 조회 -->
    <select id="getProductPlanTotal" resultType="com.wimir.bae.domain.plan.dto.PlanTotalSearchDTO">
        SELECT *
        FROM tbl_production_total total
        WHERE total.plan_key = #{planKey}
          AND total.product_key = #{productKey}
          AND is_deleted = 0
    </select>

    <!-- 생산 계획 등록 -->
    <insert id="createPlan">
        INSERT INTO tbl_production_plan(
            product_key, contract_code, plan_quantity, sub_plan_quantity, plan_date
        )
        VALUES (
            #{productKey}, #{contractCode}, #{planQuantity}, #{subPlanQuantity}, #{planDate}
        )
    </insert>

    <!-- 생산 계획 수정 -->
    <update id="updatePlan">
        UPDATE tbl_production_plan
        SET team_key = #{teamKey},
            team_common_key = #{teamCommonKey}
        WHERE plan_key = #{planKey}
          AND is_deleted = 0
          AND is_executed = 0
    </update>

    <!-- 생산 계획 삭제 -->
    <update id="deletePlan">
        UPDATE tbl_production_plan
        SET is_deleted = 1
        WHERE is_deleted = 0
          AND is_executed = 0
          AND plan_key = #{planKey}
    </update>

    <!-- 생산 계획 및 실적 조회 -->
    <select id="getProductionPlan" resultType="com.wimir.bae.domain.plan.dto.PlanInfoDTO">
        SELECT plan.plan_key, plan.team_common_key, plan.product_key, plan.team_key, plan.contract_code AS contractKey,
               plan.is_executed, plan.plan_date, plan.sub_plan_quantity, plan.plan_quantity,
               sub.sub_common_name AS teamName, pro.product_name
        FROM tbl_production_plan plan
                 LEFT JOIN tbl_common_code_sub sub ON plan.team_common_key = sub.sub_common_key
                 LEFT JOIN tbl_product pro ON plan.product_key = pro.product_key
        WHERE plan.contract_code = #{contractCode}
          AND pro.is_deleted = 0
          AND plan.is_deleted = 0
          AND pro.asset_type_flag = 'F'
    </select>

    <!-- 생산 계획 키 유효성 -->
    <select id="isPlanKeyExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(plan_key) > 0, true, false)
        FROM tbl_production_plan
        WHERE plan_key = #{planKey}
          AND is_deleted = 0
    </select>

    <!-- 생산 계획 키 유효성 -->
    <select id="isPlanAlreadyExecuted" resultType="java.lang.Boolean">
        SELECT IF(COUNT(plan_key) > 0, true, false)
        FROM tbl_production_plan
        WHERE plan_key = #{planKey}
          AND is_executed = 0
          AND is_deleted = 0
    </select>

    <!--  수주 실행 리스트  -->
    <select id="listPlanContract" resultType="com.wimir.bae.domain.plan.dto.PlanContractInfoDTO">
        SELECT * FROM (
        -- 완제품 조회
        SELECT
        plan.plan_key,
        con.contract_name,
        plan.team_key,
        pro.product_key,
        pro.product_name,
        pro.product_code,
        total.warehouse_key,
        cmat.quantity as contract_quantity,
        plan.plan_date AS contract_start_date,
        con.delivery_date,
        pro.asset_type_flag as key_code,
        total.is_completed
        FROM tbl_production_plan plan
        LEFT JOIN tbl_product pro ON pro.product_key = plan.product_key
        LEFT JOIN tbl_order_contract con ON plan.contract_code = con.contract_code
        INNER JOIN tbl_order_contract_materials cmat ON cmat.contract_code = con.contract_code AND cmat.product_key = pro.product_key
        LEFT JOIN tbl_production_total total ON plan.product_key = total.product_key
        LEFT JOIN tbl_inventory inven ON total.warehouse_key = inven.warehouse_key AND pro.product_key = inven.product_key
        WHERE plan.is_executed = 1
        AND plan.is_deleted = 0
        AND con.is_deleted = 0
        AND pro.asset_type_flag = 'F'
        AND total.is_completed = 0

        UNION

        -- 자재 조회
        SELECT
        plan.plan_key,
        con.contract_name,
        plan.team_key,
        material.product_key,
        material.product_name,
        material.product_code,
        total.warehouse_key,
        cmat.quantity as contract_quantity,
        plan.plan_date AS contract_start_date,
        con.delivery_date,
        material.asset_type_flag as key_code,
        total.is_completed
        FROM tbl_production_plan plan
        LEFT JOIN tbl_order_contract con ON plan.contract_code = con.contract_code
        INNER JOIN tbl_product pro ON pro.product_key = plan.product_key
        LEFT JOIN tbl_product_bom bom ON pro.product_key = bom.finished_key
        LEFT JOIN tbl_product material ON material.product_key = bom.material_key
        INNER JOIN tbl_order_contract_materials cmat ON cmat.contract_code = con.contract_code AND cmat.product_key = material.product_key
        LEFT JOIN tbl_production_total total ON material.product_key = total.product_key
        LEFT JOIN tbl_inventory inven ON total.warehouse_key = inven.warehouse_key AND material.product_key = inven.product_key
        WHERE plan.is_executed = 1
        AND plan.is_deleted = 0
        AND con.is_deleted = 0
        AND total.is_completed = 0
        ) AS combined_results
    </select>

    <!-- 실행 중인 수주 리스트를 total 데이터에 넣기 위한 select -->
    <select id="getPlanContractInfoList" resultType="com.wimir.bae.domain.plan.dto.PlanContractInfoDTO">
        SELECT
            plan.plan_key,
            contract.contract_name,
            plan.team_key,
            product.product_key,
            product.product_name,
            product.product_code,
            total.warehouse_key,
            materials.quantity as contract_quantity,
            plan.plan_date AS contract_start_date,
            contract.delivery_date,
            product.asset_type_flag as key_code
        FROM tbl_production_plan plan
                 LEFT JOIN tbl_product product ON product.product_key = plan.product_key
                 LEFT JOIN tbl_order_contract contract ON plan.contract_code = contract.contract_code
                 INNER JOIN tbl_order_contract_materials materials ON materials.contract_code = contract.contract_code AND materials.product_key = product.product_key
                 LEFT JOIN tbl_production_total total ON plan.plan_key = total.plan_key
                 LEFT JOIN tbl_inventory inventory ON total.warehouse_key = inventory.warehouse_key AND product.product_key = inventory.product_key
        WHERE plan.is_executed = 0
          AND product.asset_type_flag = 'F'
          AND plan.plan_key = #{planKey}
          AND product.process_type_key != #{outsourced}

        UNION

        SELECT
            plan.plan_key,
            contract.contract_name,
            plan.team_key,
            material.product_key,
            material.product_name,
            material.product_code,
            total.warehouse_key,
            materials.quantity as contract_quantity,
            plan.plan_date AS contract_start_date,
            contract.delivery_date,
            material.asset_type_flag as key_code
        FROM tbl_production_plan plan
                 LEFT JOIN tbl_order_contract contract ON plan.contract_code = contract.contract_code
                 INNER JOIN tbl_product product ON product.product_key = plan.product_key
                 LEFT JOIN tbl_product_bom bom ON product.product_key = bom.finished_key
                 LEFT JOIN tbl_product material ON material.product_key = bom.material_key
                 INNER JOIN tbl_order_contract_materials materials ON materials.contract_code = contract.contract_code
            AND materials.product_key = material.product_key
                 LEFT JOIN tbl_production_total total ON material.product_key = total.product_key
                 LEFT JOIN tbl_inventory inventory ON total.warehouse_key = inventory.warehouse_key
            AND material.product_key = inventory.product_key
        WHERE plan.is_executed = 0
          AND material.process_type_key != #{outsourced}
          AND plan.plan_key = #{planKey}
    </select>

    <!-- 해당 생산 계획에 팀이 존재하는지 확인 -->
    <select id="isPlanTeamExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM tbl_production_plan
        WHERE team_Key IS NOT NULL
          AND plan_key = #{palnKey}
    </select>

    <!-- 생산 계획 확정 -->
    <update id="executedPlan">
        UPDATE tbl_production_plan
        SET is_executed = 1
        WHERE is_deleted = 0
          AND is_executed = 0
          AND plan_key = #{planKey}
    </update>

    <!-- 생산 확정된 물품 확인 -->
    <select id="isPlanDetailListExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM tbl_production_total total
                 INNER JOIN tbl_production_detail detail
                         ON total.plan_key = detail.plan_key
                        AND total.product_key = detail.product_key
        WHERE total.plan_key = #{palnKey}
          AND total.product_key = #{productKey}
    </select>

    <!-- 실적에 업데이트 할 창고 업데이트 -->
    <update id="updatePlanTotalWarehouse">
        UPDATE tbl_production_total
        SET warehouse_key = #{warehouseKey}
        WHERE plan_key = #{planKey}
          AND product_key = #{productKey}
          AND is_deleted = 0
          AND is_completed = 0
    </update>

    <!-- 창고 품목 리스트 -->
    <select id="listWarehouseProduct" resultType="com.wimir.bae.domain.plan.dto.PlanWarehouseDTO">
        SELECT
            pro.product_key,
            ware.warehouse_key,
            ware.warehouse_name,
            ware.location,
            inven.quantity
        FROM tbl_product pro
                 LEFT JOIN tbl_inventory inven
                           ON pro.product_key = inven.product_key
                 LEFT JOIN tbl_warehouse ware
                           ON inven.warehouse_key = ware.warehouse_key
        WHERE pro.product_key = #{productKey}
          AND pro.is_deleted = 0
          AND ware.is_deleted = 0
        ORDER BY ware.warehouse_name ASC
    </select>

</mapper>