<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.productCompany.mapper.ProductCompanyMapper">

    <select id="isProductCompanyExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false) AS result
        FROM tbl_product_company
        WHERE is_deleted = 0
          AND product_key = #{productKey}
          AND company_key = #{companyKey}
    </select>

    <insert id="createProductCompany">
        INSERT INTO tbl_product_company (
             product_key, company_key
        )
        VALUES (
            #{productKey}, #{companyKey}
        )
    </insert>

    <select id="getProductCompanyList" resultType="com.wimir.bae.domain.productCompany.dto.ProductCompanyFlatDTO">
        SELECT
            p.product_key AS productKey,
            p.product_code AS productCode,
            p.product_name AS productName,
            p.asset_type_flag AS assetTypeFlag,
            c.company_key AS companyKey,
            c.company_name AS companyName,
            c.company_type_flag AS companyTypeFlag
        FROM tbl_product_company pc
            LEFT JOIN tbl_product p ON pc.product_key = p.product_key
            Left JOIN tbl_company c ON pc.company_key = c.company_key
        WHERE pc.is_deleted = 0
        ORDER BY p.product_key ASC, c.company_key ASC
    </select>

    <select id="getProductCompanyInfo" resultType="com.wimir.bae.domain.productCompany.dto.ProductCompanyFlatDTO">
        SELECT
            product_key AS productKey,
            company_key AS companyKey
        FROM tbl_product_company
        WHERE is_deleted = 0
          AND product_company_key = #{productCompanyKey}
    </select>

    <update id="updateProductCompany">
        UPDATE tbl_product_company
        SET
            product_key = #{productKey},
            company_key = #{companyKey}
        WHERE is_deleted = 0
          AND product_company_key = #{productCompanyKey}
    </update>

</mapper>