<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.productCompany.mapper.ProductCompanyMapper">

    <select id="isProductCompanyExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0, true, false) AS result
        FROM tbl_product_company
        WHERE is_deleted = 0
          AND product_key = #{productKey}
          AND company_key = #{companyKey}
    </select>

    <insert id="createProductCompany">
        INSERT INTO tbl_product_company (
             product_key, company_key
        )
        VALUES (
            #{productKey}, #{companyKey}
        )
    </insert>

    <select id="getProductCompanyList" resultType="com.wimir.bae.domain.productCompany.dto.ProductCompanyFlatDTO">
        SELECT
            p.product_key AS productKey,
            p.product_code AS productCode,
            p.product_name AS productName,
            p.asset_type_flag AS assetTypeFlag,
            c.company_key AS companyKey,
            c.company_name AS companyName,
            c.company_type_flag AS companyTypeFlag
        FROM tbl_product_company pc
            LEFT JOIN tbl_product p ON pc.product_key = p.product_key
            Left JOIN tbl_company c ON pc.company_key = c.company_key
        WHERE pc.is_deleted = 0
        ORDER BY p.product_key ASC, c.company_key ASC
    </select>

    <select id="getProductCompanyInfoList" resultType="com.wimir.bae.domain.productCompany.dto.ProductCompanyFlatDTO">
        SELECT *
        FROM tbl_product_company
        WHERE is_deleted = 0
        AND product_company_key IN
        <foreach item="productCompanyKey" collection="productCompanyKeyList" open="(" separator="," close=")">
            #{productCompanyKey}
        </foreach>
    </select>

    <select id="getProductCompanyInfo" resultType="com.wimir.bae.domain.productCompany.dto.ProductCompanyFlatDTO">
        SELECT
            pc.product_key AS productKey,
            pc.company_key AS companyKey,
            p.asset_type_flag AS assetTypeFlag
        FROM tbl_product_company pc
        LEFT JOIN tbl_product p ON pc.product_key = p.product_key
        WHERE pc.is_deleted = 0
          AND pc.product_company_key = #{productCompanyKey}
    </select>

    <update id="updateProductCompany">
        UPDATE tbl_product_company
        SET
            product_key = #{productKey},
            company_key = #{companyKey}
        WHERE is_deleted = 0
          AND product_company_key = #{productCompanyKey}
    </update>

    <delete id="deleteProductCompanyList">
        UPDATE tbl_product_company
        SET is_deleted = 1
        WHERE is_deleted = 0
        AND product_company_key IN
        <foreach item="productCompanyKey" collection="productCompanyKeyList" open="(" separator="," close=")">
            #{productCompanyKey}
        </foreach>
    </delete>

    <!-- 품목-업체 삭제 시, 진행 중인 발주가 있는 지 확인 -->
    <select id="getProductCompanyKeysInOrder" resultType="string">
        SELECT DISTINCT pc.product_company_key
        FROM tbl_product_company pc
            JOIN tbl_order_materials om ON pc.product_key = om.product_key
            JOIN tbl_order o ON om.order_key = o.order_key
        WHERE pc.product_company_key IN
        <foreach item="key" collection="productCompanyKeyList" open="(" separator="," close=")">
            #{key}
        </foreach>
        AND pc.is_deleted = 0
        AND om.is_deleted = 0
        AND o.is_completed = 0
        AND o.is_deleted = 0
        AND o.company_key = pc.company_key
    </select>

    <!-- 품목 수정, 삭제 시 진행 중인 수주가 있는 지 확인 -->
    <select id="getProductCompanyKeysInOrderContract" resultType="string">
        SELECT DISTINCT pc.product_company_key
        FROM tbl_product_company pc
            JOIN tbl_order_contract_materials ocm ON pc.product_key = ocm.product_key
            JOIN tbl_order_contract oc ON oc.contract_code = ocm.contract_code
        WHERE pc.product_company_key IN
        <foreach item="key" collection="productCompanyKeyList" open="(" separator="," close=")">
            #{key}
        </foreach>
          AND pc.is_deleted = 0
          AND ocm.is_deleted = 0
          AND oc.is_completed IN (0, 2)
          AND oc.is_deleted = 0
    </select>

</mapper>