<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wimir.bae.domain.warehouse.mapper.WarehouseMapper">

    <!-- 창고 명 중복 확인 -->
    <select id="isWarehouseNameExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(warehouse_key) > 0, true, false)
        FROM tbl_warehouse
        WHERE warehouse_name = #{warehouseName}
          AND is_deleted = 0
    </select>

    <!-- 창고 등록 -->
    <insert id="createWarehouse" useGeneratedKeys="true" keyProperty="warehouseKey">
        INSERT INTO tbl_warehouse(
            warehouse_name,location
        )
        VALUES (
            #{warehouseName}, #{location}
        )
    </insert>

    <!-- 창고 조회 -->
    <select id="getWarehouseList" resultType="com.wimir.bae.domain.warehouse.dto.WarehouseInfoDTO">
        SELECT
            warehouse_key,
            warehouse_name,
            location
        FROM tbl_warehouse
        WHERE is_deleted = 0
    </select>

    <select id="getWarehouseInfoList" resultType="com.wimir.bae.domain.warehouse.dto.WarehouseInfoDTO">
        SELECT *
        FROM tbl_warehouse
        WHERE is_deleted = 0
        AND warehouse_key IN
        <foreach item="warehouseKey" collection="warehouseKeyList" open="(" separator="," close=")">
            #{warehouseKey}
        </foreach>
    </select>

    <!-- 창고 정보 -->
    <select id="getWarehouseInfo" resultType="com.wimir.bae.domain.warehouse.dto.WarehouseInfoDTO">
        SELECT *
        FROM tbl_warehouse
        WHERE is_deleted = 0
          AND warehouse_key = #{warehouseKey}
    </select>

    <!-- 창고 수정 -->
    <update id="updateWarehouse">
        UPDATE tbl_warehouse
        SET warehouse_name = #{warehouseName},
            location = #{location}
        WHERE is_deleted = 0
          AND warehouse_key = #{warehouseKey}
    </update>

    <!-- 창고 삭제 -->
    <delete id="deleteWarehouseList">
        UPDATE tbl_warehouse
        SET is_deleted = 1
        WHERE is_deleted = 0
        AND warehouse_key IN
        <foreach item="warehouseKey" collection="warehouseKeyList" open="(" separator="," close=")">
            #{warehouseKey}
        </foreach>
    </delete>

    <!--  창고 키 체크   -->
    <select id="isWarehouseExist" resultType="java.lang.Boolean">
        SELECT IF(COUNT(warehouse_key) > 0, true, false)
        FROM tbl_warehouse
        WHERE warehouse_key = #{warehouseKey}
          AND is_deleted = 0
    </select>

</mapper>
